In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
from SolarWindImport import ImportOMNI_Month

In [3]:
start = pd.to_datetime('20030101', format='%Y%m%d', errors='ignore')
end = pd.to_datetime('20030201', format='%Y%m%d', errors='ignore')

In [5]:
Data = ImportOMNI_Month(start,end)

Found Local Data

In [8]:
Data.columns

Index(['Year', 'Day', 'Hour', 'Minute', 'B_IMF_ScID', 'Plasma_ScID',
       'IMFAvPoints', 'PlasmaAvPoints', 'PercentInterp', 'Timeshift',
       'RMSTimeshift', 'RMSPhaseFrontNormal', 'TimeBetweenObs', 'B', 'B_X_GSM',
       'B_Y_GSE', 'B_Z_GSE', 'B_Y_GSM', 'B_Z_GSM', 'RMSBScalar',
       'RMSFieldVector', 'V', 'V_X_GSE', 'V_Y_GSE', 'V_Z_GSE', 'n_p', 'T', 'P',
       'E', 'Beta', 'AlfvenMach', 'X_SC_GSE', 'Y_SC_GSE', 'Z_SC_GSE',
       'X_BSN_GSE', 'Y_BSN_GSE', 'Z_BSN_GSE', 'AE', 'AL', 'AU', 'SymD', 'SymH',
       'AsyD', 'AsyH', 'PCN', 'MagnetosonicMach', '10MeVProton', '30MeVProton',
       '60MeVProton', 'DateTime'],
      dtype='object')

In [9]:
Data

,Year,Day,Hour,Minute,B_IMF_ScID,Plasma_ScID,IMFAvPoints,PlasmaAvPoints,PercentInterp,Timeshift,...,SymD,SymH,AsyD,AsyH,PCN,MagnetosonicMach,10MeVProton,30MeVProton,60MeVProton,DateTime
0,2003,1,0,0,60,60,3,1,100,38,...,-2,-6,21,16,-0.13,3.4,NaN,NaN,NaN,2003-01-01 00:00:00
1,2003,1,0,1,60,60,5,3,100,36,...,-2,-5,20,16,-0.18,4.7,NaN,NaN,NaN,2003-01-01 00:01:00
2,2003,1,0,2,60,60,5,2,100,36,...,-2,-5,20,16,-0.18,4.6,NaN,NaN,NaN,2003-01-01 00:02:00
3,2003,1,0,3,60,60,5,2,100,36,...,-2,-5,20,17,-0.17,5.0,NaN,NaN,NaN,2003-01-01 00:03:00
4,2003,1,0,4,60,60,5,2,100,36,...,-2,-5,20,17,-0.14,4.6,NaN,NaN,NaN,2003-01-01 00:04:00
5,2003,1,0,5,60,60,5,3,100,35,...,-2,-4,19,17,-0.12,4.6,NaN,NaN,NaN,2003-01-01 00:05:00
6,2003,1,0,6,60,60,5,2,100,35,...,-2,-4,19,16,-0.10,5.2,NaN,NaN,NaN,2003-01-01 00:06:00
7,2003,1,0,7,60,60,4,2,100,36,...,-2,-4,19,15,-0.11,5.0,NaN,NaN,NaN,2003-01-01 00:07:00
8,2003,1,0,8,60,60,4,2,100,36,...,-2,-4,19,17,-0.12,4.8,NaN,NaN,NaN,2003-01-01 00:08:00
9,2003,1,0,9,60,60,5,2,100,36,...,-2,-4,18,17,-0.14,4.9,NaN,NaN,NaN,2003-01-01 00:09:00
10,2003,1,0,10,60,60,5,3,100,35,...,-2,-4,18,16,-0.15,4.5,NaN,NaN,NaN,2003-01-01 00:10:00
11,2003,1,0,11,60,60,5,2,100,34,...,-2,-4,18,15,-0.15,5.1,NaN,NaN,NaN,2003-01-01 00:11:00
12,2003,1,0,12,60,60,5,2,100,34,...,-2,-4,18,16,-0.14,5.1,NaN,NaN,NaN,2003-01-01 00:12:00
13,2003,1,0,13,60,60,5,2,100,34,...,-2,-4,17,16,-0.14,5.1,NaN,NaN,NaN,2003-01-01 00:13:00
14,2003,1,0,14,60,60,5,2,100,33,...,-2,-4,17,16,-0.15,5.2,NaN,NaN,NaN,2003-01-01 00:14:00
15,2003,1,0,15,60,60,5,3,100,33,...,-2,-4,17,15,-0.18,5.2,NaN,NaN,NaN,2003-01-01 00:15:00
16,2003,1,0,16,60,60,5,2,100,33,...,-2,-3,16,16,-0.18,5.3,NaN,NaN,NaN,2003-01-01 00:16:00
17,2003,1,0,17,60,60,5,2,100,34,...,-2,-3,16,15,-0.19,5.1,NaN,NaN,NaN,2003-01-01 00:17:00
18,2003,1,0,18,60,60,5,2,100,34,...,-2,-3,16,15,-0.19,4.4,NaN,NaN,NaN,2003-01-01 00:18:00
19,2003,1,0,19,60,60,5,2,100,34,...,-2,-3,16,15,-0.20,4.9,NaN,NaN,NaN,2003-01-01 00:19:00
20,2003,1,0,20,60,60,5,2,100,34,...,-2,-3,16,15,-0.19,4.9,NaN,NaN,NaN,2003-01-01 00:20:00
21,2003,1,0,21,60,60,5,2,100,33,...,-2,-3,16,15,-0.18,5.0,NaN,NaN,NaN,2003-01-01 00:21:00
22,2003,1,0,22,60,60,5,2,100,34,...,-2,-3,16,15,-0.18,4.6,NaN,NaN,NaN,2003-01-01 00:22:00
23,2003,1,0,23,60,60,5,2,100,34,...,-2,-4,15,15,-0.18,3.6,NaN,NaN,NaN,2003-01-01 00:23:00
24,2003,1,0,24,60,60,5,2,100,34,...,-2,-4,15,15,-0.19,4.8,NaN,NaN,NaN,2003-01-01 00:24:00
25,2003,1,0,25,60,60,5,2,100,34,...,-2,-4,15,15,-0.19,3.9,NaN,NaN,NaN,2003-01-01 00:25:00
26,2003,1,0,26,60,60,4,2,100,34,...,-2,-4,14,15,-0.20,4.4,NaN,NaN,NaN,2003-01-01 00:26:00
27,2003,1,0,27,60,60,4,2,100,35,...,-2,-4,15,14,-0.19,4.3,NaN,NaN,NaN,2003-01-01 00:27:00
28,2003,1,0,28,60,60,5,2,100,33,...,-2,-4,14,14,-0.17,4.8,NaN,NaN,NaN,2003-01-01 00:28:00
29,2003,1,0,29,60,60,5,3,100,34,...,-2,-4,15,14,-0.17,4.3,NaN,NaN,NaN,2003-01-01 00:29:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44610,2003,31,23,30,71,71,3,3,33,2724,...,2,-25,25,17,-0.10,2.4,NaN,NaN,NaN,2003-01-31 23:30:00
44611,2003,31,23,31,71,71,8,2,0,2766,...,2,-25,25,17,-0.06,2.5,NaN,NaN,NaN,2003-01-31 23:31:00
44612,2003,31,23,32,71,71,4,2,0,2796,...,2,-25,24,18,0.04,2.5,NaN,NaN,NaN,2003-01-31 23:32:00
44613,2003,31,23,33,71,71,1,1,0,2793,...,1,-25,24,18,0.12,2.5,NaN,NaN,NaN,2003-01-31 23:33:00
44614,2003,31,23,34,71,71,2,1,0,2838,...,2,-25,23,17,0.21,2.4,NaN,NaN,NaN,2003-01-31 23:34:00
44615,2003,31,23,35,71,71,4,2,0,2841,...,2,-25,23,18,0.24,2.4,NaN,NaN,NaN,2003-01-31 23:35:00
44616,2003,31,23,36,71,71,4,1,0,2848,...,1,-25,23,18,0.23,2.6,NaN,NaN,NaN,2003-01-31 23:36:00
44617,2003,31,23,37,71,71,4,1,50,2854,...,1,-25,23,18,0.19,2.6,NaN,NaN,NaN,2003-01-31 23:37:00
44618,2003,31,23,38,71,71,3,2,100,2858,...,1,-25,22,19,0.18,2.6,NaN,NaN,NaN,2003-01-31 23:38:00
44619,2003,31,23,39,71,71,3,2,100,2884,...,1,-25,23,19,0.19,2.6,NaN,NaN,NaN,2003-01-31 23:39:00
44620,2003,31,23,40,71,71,2,1,100,2913,...,2,-25,22,20,0.21,2.7,NaN,NaN,NaN,2003-01-31 23:40:00
44621,2003,31,23,41,71,71,2,1,100,2948,...,1,-25,22,20,0.27,2.7,NaN,NaN,NaN,2003-01-31 23:41:00
44622,2003,31,23,42,71,71,3,1,100,2986,...,2,-25,22,20,0.29,2.6,NaN,NaN,NaN,2003-01-31 23:42:00
44623,2003,31,23,43,71,71,8,3,100,2991,...,1,-25,22,21,0.26,2.6,NaN,NaN,NaN,2003-01-31 23:43:00
44624,2003,31,23,44,71,71,6,2,100,2958,...,1,-25,23,21,0.24,2.4,NaN,NaN,NaN,2003-01-31 23:44:00
44625,2003,31,23,45,71,71,4,1,100,2975,...,1,-25,23,20,0.24,2.3,NaN,NaN,NaN,2003-01-31 23:45:00
44626,2003,31,23,46,71,71,4,1,100,2992,...,1,-25,23,21,0.23,2.4,NaN,NaN,NaN,2003-01-31 23:46:00
44627,2003,31,23,47,71,71,2,1,100,3012,...,1,-25,23,21,0.26,2.4,NaN,NaN,NaN,2003-01-31 23:47:00
44628,2003,31,23,48,71,71,2,1,100,3069,...,1,-25,23,21,0.28,2.4,NaN,NaN,NaN,2003-01-31 23:48:00
44629,2003,31,23,49,71,99,2,999,100,3118,...,1,-25,23,23,0.28,99.9,NaN,NaN,NaN,2003-01-31 23:49:00
44630,2003,31,23,50,71,71,2,1,100,3165,...,1,-25,24,23,0.29,2.3,NaN,NaN,NaN,2003-01-31 23:50:00
44631,2003,31,23,51,71,71,2,1,100,3197,...,1,-25,24,24,0.29,2.3,NaN,NaN,NaN,2003-01-31 23:51:00
44632,2003,31,23,52,71,99,1,999,100,3231,...,1,-25,24,24,0.26,99.9,NaN,NaN,NaN,2003-01-31 23:52:00
44633,2003,31,23,53,71,71,7,2,100,3231,...,1,-25,24,25,0.27,2.3,NaN,NaN,NaN,2003-01-31 23:53:00
44634,2003,31,23,54,71,71,12,3,100,3217,...,1,-25,25,25,0.26,2.3,NaN,NaN,NaN,2003-01-31 23:54:00
44635,2003,31,23,55,71,71,4,3,100,3168,...,1,-25,25,25,0.23,2.4,NaN,NaN,NaN,2003-01-31 23:55:00
44636,2003,31,23,56,71,71,4,2,100,3195,...,1,-25,24,26,0.22,2.5,NaN,NaN,NaN,2003-01-31 23:56:00
44637,2003,31,23,57,71,71,5,2,100,3182,...,1,-25,24,26,0.22,2.5,NaN,NaN,NaN,2003-01-31 23:57:00
44638,2003,31,23,58,71,71,3,1,100,3200,...,1,-25,24,26,0.20,2.5,NaN,NaN,NaN,2003-01-31 23:58:00
44639,2003,31,23,59,71,71,8,2,100,3185,...,1,-24,24,27,0.13,2.5,NaN,NaN,NaN,2003-01-31 23:59:00